<!doctype html>
<html lang="{{ lang }}">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />

		<link rel="stylesheet" href="{{ get_url(path='main.css') }}" />

		<title>{% block title %}{{ config.title }}{% endblock %}</title>

		{% block extrahead %}
		{% endblock %}
	</head>
	<body class="layout-grid">
		<header>
			<div>
				<h1><a href="{{ config.base_url }}">{{ config.title }}</a></h1>
				<h2>{{ config.description }}</h2>
			</div>
		</header>
		<main>
			{% block main %}
			{% endblock %}
		</main>
	</body>
</html>
